* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: white;
    font-family: "Gugi", sans-serif;
}

.Oferta {
    background-color: #009A87;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 1.5rem;
}

.Header_index {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    height: 85px;
    color: #009A87;
    text-decoration: underline;
    border:1px solid black;
}
nav{

    border-left: 2px solid #009A87 ;
    padding: 10px;
    
}
.Nombre_empresa{

    font-size: 26px;
}
.Header_index .Nombre_empresa:hover {
    transform: scale(1.2);
}

.Header_index .Nav-links {
    list-style: none;
    display: flex; /* Mostrar los elementos de la lista en línea */
}

.Header_index .Nav-links li { 
    cursor: pointer;   
    transition: all 0.3s;
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}
.Header_index .Nav-links li:hover { 
    transform: scale(1.2);
}
.Header_index .Nav-links a {
    color: inherit;
    text-decoration: none;
}

.Contenedor_mayor_index {
    display: flex;
    height: 50vh; 
}

.Section_izq_img {
    flex: 40%; 
    border: 1px solid black; 
    overflow: hidden; 
}

.Section_izq_img img {
    width: 100%; 
    height: 100%; 

    object-fit: cover;
}

.Section_der {
    display:flex;
    flex-direction: column;
    flex: 60%; 
    padding: 20px; /* Agrega algún espacio interno para mejorar el diseño */
}
.Section_der p{
    font-family: "Gugi", sans-serif;
    color: #009A87;
    font-size:22px;
   text-align: justify;
   border-bottom: 1px solid ;
   padding:1px;
}
.Productos_index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    width: 100%;
    border-top: none;
    border-bottom: none;
    margin-top: 20px;
}

.Card_1 {
    width: 18.75rem;
    height: 24.25rem;
    border: 1px solid black;
    border-radius: 30px 100px;
    overflow: hidden;
    margin: 10px;
}

.Card_1 div {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.Card_1 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    text-align: center;
    color: #009A87;
    font-family: "Gugi", sans-serif;
    padding: 25px;
}

h3 {
    text-align: center;
    padding: 1em;
    padding: 5px;
}

.Card_Info {
    text-align: center;
    font-family: "Gugi", sans-serif;
    color: #009A87;
    font-size: 17px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}
.Pie-pagina{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #009A87;
}

.Pie-pagina .div_1 img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    justify-items: center;
    justify-content: center;
    padding: 30px;
}
.Pie-pagina .div_2 h2{
    color:#009A87  ;
    margin-top: 20px;
    font-size:20px;
    padding:5px;
}
.Pie-pagina .div_2 p{
    width: 100%;
    font-size:18px;
    padding:30px;
    color:#009A87 
}
.div_redes {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.div_redes h2 {
    margin-bottom: 15px;
    color:#009A87  ;
    margin-top: 0px;
    font-size:20px;
    padding:5px;
}

.imagenes-redes {
    display: flex; 
    flex-direction: row; /
}

.imagenes-redes div {
    margin: 0 5px; 
}
/* style page remeras  */
.Oferta_r {
    background-color: #265073;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 1.5rem;
}
.Header_index_r {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    height: 85px;
    color: #265073;
    text-decoration: underline;
    border:1px solid #265073;
}
nav{

    border-left: 2px solid #265073 ;
    padding: 10px;
    
}
.Nombre_empresa_r{

    font-size: 26px;
}
.Header_index_r .Nombre_empresa_r:hover {
    transform: scale(1.2);
}

.Header_index_r .Nav-links_r {
    list-style: none;
    display: flex; /* Mostrar los elementos de la lista en línea */
}

.Header_index_r .Nav-links_r li { 
    cursor: pointer;   
    transition: all 0.3s;
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}
.Header_index_r .Nav-links_r li:hover { 
    transform: scale(1.2);
}
.Header_index_r .Nav-links_r a {
    color: inherit;
    text-decoration: none;
}

.contenedor-grid .Buscador_Poductos h1{

    color: #265073;
    font-size: 20px;
    padding-right:15px;
}

.contenedor-grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px 400px 400px 400px 160px);
    grid-template-areas: 
    "Buscador_Poductos Buscador_Poductos Buscador_Poductos Buscador_Poductos"
    "Pro_l1 Pro_l1 Pro_l1 Pro_l1"
    "Pro_l2 Pro_l2 Pro_l2 Pro_l2"
    "Pro_l3 Pro_l3 Pro_l3 Pro_l3"
    "footer_R footer_R footer_R footer_R";
    gap: 10px;
}

.Buscador_Poductos {
    
    grid-area: Buscador_Poductos;
    border-bottom: 1px solid #265073;
    display: flex;
    justify-content: center; 
    align-items: center; 

}

.buscador {
    width: 400px; 
    padding: 10px;
    text-align: center; 
    border:5px solid #265073;
}

.Pro_l1 {

    grid-area: Pro_l1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    }
    
    .imagen {
        padding: 10px;
        text-align: center;
        width: 100%;
        height: 80%;
    }
    
    .imagen img {
        max-width: 100%; 
        max-height: 100%; 
    }
    .imagen img:hover{
        border:2px solid #009A87;
    }
    

.Pro_l2 {
    grid-area: Pro_l2;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top:1px solid  #265073;
    padding: 15px;

}

.Card_2 {
    width: 15.75rem;
    height:23.25rem;
    border: 1px solid #265073;
    border-radius: 30px 100px;
    overflow: hidden;
    margin: 10px;
   
}
.Card_2:hover{
    box-shadow: 0 4px 2px  #009A87;
}

.Card_2 div {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.Card_2 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    text-align: center;
    color: #009A87;
    font-family: "Gugi", sans-serif;
    padding: 25px;
}

h3 {
    text-align: center;
    padding: 1em;
    padding: 5px;
}

.Card_Info_2 {
    text-align: center;
    font-family: "Gugi", sans-serif;
    color: #265073;
    font-size: 17px;
}
.Card_Info_2 p::after {
    content: " u$d";
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.Pro_l3 {
    grid-area: Pro_l3;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top:1px solid  #265073;
    padding: 15px;


}


.footer_R {
    grid-area: footer_R;
    background-color:  #beddf7;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top:1px solid  #265073;
    padding: 15px;

}
.div_1 img{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    justify-items: center;
    justify-content: center;
    padding: 30px;
}
.imagenes-redes div:hover img {
    transform: scale(1.2);

}
.div_2_remeras h2 ,.div_2_remeras p, .div_redes h2{
    color:#265073 ;
    margin-top: 10px;
    font-size:20px;
    padding:5px;
}