//Mapas
$paleta_de_colores: (
    verde_agua: #009A87,
    azul:#265073,
    verde_agua_claro: #9AD0C2,
    verde_mas_claro:#F1FADA,


);
$gradiantes: (
     gradiante_verde_azul: linear-gradient(135deg, #265073, #009A87),
     gradiante_azul_verde: linear-gradient(135deg,  #009A87,#265073),
    

);