@media (max-width: 425px){
    .Oferta_40 {
        font-size: 15px;
        
    }
    .Nav_General {
        h1 {
            margin-left: -20px;
            font-size: 15px;
        }
    }
    .Nav-Links{
        li{
            a{
                font-size: 12px;
            }
        }
    }
    .main-grid { 
        @include grid(100%, 100%, 1fr 1fr , 200px 300px 300px 300px 350px 350px 300px, none, none, 10px,
            "section-img-emp section-img-emp "
            "section-imgizq section-imgizq  " 
            "section-central section-central "
            "section-imgder section-imgder "
            "section-bestsellers section-bestsellers  "
            "section-bestsellers section-bestsellers  "
            "section-bestsellers section-bestsellers "
            "section-bestsellers section-bestsellers "
            "section-footer section-footer "
            "section-footer section-footer "
            
            
            
            
            
        );
        .section-img-emp {
            p {
                font-size: 15px; 
                padding-top: 0px;
                top: 40px;
    
            }
        } 
        .section-central{

            h1 {
                font-size: 18px;
                margin-bottom: 20px; 
                
            }
            p{
                font-size: 15px;
            }
                .Buscador_Poductos_index{

                    h1{
                        font-size: 15px;
                        padding-bottom: 12px;
                        
                    }
                    input[type="text"] {
                        width: 250px; 
                        padding: 10px;

                       
                    }
                    input[type="text"].buscador_index {
                        color:map-get($paleta_de_colores,azul); 
                        font-weight: bold; 
                    }
                }
               
        }
        .section-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:5px;
            .div_central_footer{
                h2{
                    border-top: solid 2px rgba(0, 154, 135, 0.5); 
                }
            }
            .div_redes{
                
                h2{
                    margin-top: 10px;
                    border-top: solid 2px rgba(0, 154, 135, 0.5); 
                  
                }
        }

       
    }


}







 .contenedor-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto );
    grid-template-areas: 
        "Buscador_Poductos Buscador_Poductos " 
        "Pro_l1 Pro_l1 " 
        "Pro_l2 Pro_l2 "
        "Pro_l2 Pro_l2 "
        "Pro_l2 Pro_l2 "
        "Pro_l3 Pro_l3"
        "Pro_l3 Pro_l3 "
        "Pro_l3 Pro_l3 "

        
        "section-footer section-footer  ";

    gap: 10px;
}
.Buscador_Poductos {
    padding-top: 15px; 
    padding-bottom: 15px; 
}
.section-footer{
    display: flex;
    flex-direction: column;
}
.Header_contacto {
    .Nombre_empresa_c{
        font-size:16px; 
        margin-left: -35px;
        margin-right: 10px; } 
        nav {
            .Nav-links_c{
                display: flex;
                gap:10px;
                li {
                    a {
                        font-size: 15px; 
                    }
                }
            }
        }

 }
 .h1_Contacto{
    .content{
    font-size: 20px;}
 }
 .main_Contacto{
    
    .Form_Contacto{

        width: 350px;
        h2{
           
            font-size: 25px;
            margin-bottom: 5px;
            }
            .input-group{
                
                label{
                   
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
    }
    
 }
}}