@media (max-width:1024px){
    
  
    .Nav_General{
        h1{
                font-size: 35px;
                                                                                                                    
            }

        }
        .main-grid{
            .section-img-emp {
                p {
                    font-size: 22px; 
                }
            }
        
            .section-central{

                h1 {
                    font-size: 28px;
                    margin-bottom: 20px; 
                }

            }
        
        
        
        
        }
    
    }
    .Header_contacto {
    
        
        .Nombre_empresa_c{
            font-size:25px; 
        margin-left: -35px; } 
     }